{% extends 'base.html' %}

{% block title %}Add Users{% endblock %}

{% block content %}

    <h1>Edit a user</h1>
    <form action = '/users/{{user.id}}/edit' method = "POST">
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" value="{{user.first_name}}">
        <br>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" value="{{user.last_name}}">
        <br>
        <label for="imgurl">Image URL</label>
        <input type="text" id="imgurl" name="imgurl" value="{{user.image_url}}">
        <br>
        <input type="submit" value="Update">
    </form>

{% endblock %}

