{% extends 'base.html' %}

{% block title %}{{select[0].title}}{% endblock %}

{% block content %}

    <div style="display: inline-block">
        <h1>{{select[0].title}}</h1>
        <h3>By {{select[0].first_name}} {{select[0].last_name}}</h3>

        <div>
            {{select[0].content}}
        </div>

        <p>Tags: {% for tag in tags %}<span class="tag"><a href="/tags/{{tag.Tag.id}}">{{tag.Tag.name}}</a></span> {% endfor %}</p>
        <a href="/users/{{select[0].author}}"><button id="back" type="button">Back</button></a><a href="/posts/{{select[0].id}}/edit"><button type="button">Edit</button></a><a href="/posts/{{select[0].id}}/delete"><button type="button">Delete</button></a>

    </div>
{% endblock %}

